In [2]:
import pandas as pd

In [3]:
file_path = "../data/dtn_hsv.csv"
data = pd.read_csv(file_path)

In [4]:
data.head(10)

            student_name                           email
0              Lê quý an     An.lq213597@sis.hust.edu.vn
1        Nguyễn Thanh An     An.nt214873@sis.hust.edu.vn
2       Phạm Thị Thuý An          11200023@st.neu.edu.vn
3           Bùi Việt Anh    Anh.bv210072@sis.hust.edu.vn
4            Lê Tuấn Anh    anh.lt203829@sis.hust.edu.vn
5            Lữ Quốc Anh    Anh.LQ210038@sis.hust.edu.vn
6           Ngô Việt Anh    Anh.NV214875@sis.hust.edu.vn
7  Nguyễn Thị Phương Anh   anh.ntp190406@sis.hust.edu.vn
8    Phạm Thị Phương Anh  Anh.PTP210439P@sis.hust.edu.vn
9        Trần Lê Đức Anh   anh.tld202782@sis.hust.edu.vn

In [5]:
data.tail(10)

           student_name                            email
987  Nguyễn Hoàng Cường   Cuong.NH215914@sis.hust.edu.vn
988    Hoàng Việt Anh     Anh.HV215902@sis.hust.edu.vn
989     Dương Ngọc Tiền  thuong.dh214475@sis.hust.edu.vn
990    Phạm Thị Vân Anh    anh.ptv187056@sis.hust.edu.vn
991    Dương Trung Hiếu    hieu.dt206554@sis.hust.edu.vn
992     Nguyễn Hữu Toàn    toan.nh207868@sis.hust.edu.vn
993     Đặng Trung Hiếu    Hieu.dt187438@sis.hust.edu.vn
994        Vũ Bình Minh    minh.vb207690@sis.hust.edu.vn
995  Nguyễn Công Nguyên  nguyen.nc187269@sis.hust.edu.vn
996        Lê Quỳnh Lan     lan.lq198238@sis.hust.edu.vn

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.shape

(997, 2)